@import "../../../../common//sass/abstracts/mixins";

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 13rem 0;

  @include respond(tab-port) {
    padding: 6rem 0;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
    padding: 3rem 0;
  }

  &__heading {
    font-size: 4.4rem;
    font-weight: 600;
    line-height: 1.3;
    text-transform: capitalize;
    color: #000a1c;

    @include respond(tab-port) {
      font-size: 3rem;
    }
    
    @include respond(phone) {
      font-size: 2.2rem;
      width: 85%;
      justify-self: center;
      text-align: center;
    }
  }

  &__btn {
    padding: 1.6rem 3.6rem;
    border: none;
    border-radius: 0.5rem;
    color: #fafafa;
    background-color: #ff8215;
    justify-self: end;
    align-self: end;
    font-size: 1.6rem;
    font-weight: 500;

    @include respond(phone) {
      justify-self: center;
    }
  }

  &__text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #595959;
    grid-column: 1;

    @include respond(tab-port) {
      font-size: 1.5rem;
    }

    @include respond(phone) {
      font-size: 1.4rem;
      text-align: center;
    }
  }

  &__list {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    row-gap: 2rem;
    column-gap: 3rem;
    margin-top: 2rem;

    @include respond(phone) {
      grid-template-columns: minmax(15rem, 1fr);
    }
  }
}

.service {
  padding: 2.4rem;
  background-color: #f8f8f8;
  border-radius: 1rem;

  display: grid;
  row-gap: 2.4rem;

  &__icon {
    height: 3.6rem;
    width: 3.6rem;
    background-color: #aab6ff;

    & > * {
      transform: translate(0.7rem, 0.4rem);
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
    text-transform: capitalize;
    color: #000a1c;
    transform: translateY(1.2rem);
  }

  &__description {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #595959;
  }

  &__link {
    color: #ff8215;
    font-size: 1.6rem;
    font-weight: 500;
  }
}
