@import "../../../../common/sass/abstracts/mixins";

.gallery {
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: minmax(6rem, 1fr) minmax(min-content, 120rem) minmax(
      6rem,
      1fr
    );
  padding: 2.5rem 0;

  @include respond(phone) {
    padding: 3rem 0;
    grid-template-columns: 1rem minmax(min-content, 120rem) 1rem;
  }

  &__wrapper {
    grid-column: 2;

    display: grid;
    gap: 3rem;
  }

  &__imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 12vw);
    gap: 3rem;

    & > * {
      background-color: red;
    }

    @include respond(tab-land) {
      gap: 2rem;
    }

    @include respond(tab-port) {
      gap: 1rem;
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 25rem);
      gap: 2rem;
    }
  }

  &__photo {
    background-color: red;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;

    &--4,
    &--5,
    &--6,
    &--7 {
      @include respond(phone) {
        display: none;
      }
    }

    &--1 {
      grid-row: 1 / span 2;

      @include respond(phone) {
        grid-row: auto;
      }
    }

    &--5 {
      grid-column: 3;
      grid-row: 2 / span 2;

      @include respond(phone) {
        grid-column: auto;
        grid-row: auto;
      }
    }
  }

  &__btn {
    display: none;
    padding: 1.6rem 3.6rem;
    border: none;
    border-radius: 0.5rem;
    color: #fafafa;
    background-color: #ff8215;
    font-size: 1.6rem;
    font-weight: 500;
    justify-self: center;

    @include respond(phone) {
      display: block;
    }
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 70%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &_photo {
    height: 30rem;
    width: 30rem;
    background-color: red;
    opacity: 100%;
  }
}
