.container {
  display: grid;
  grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 7.25rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
  background-color: #FEFEFE;
  column-gap: 3rem;

  & > * {
    font-size: 4rem;
    width: 100%
  }
}

.nav {
  grid-column: center-start / center-end;
}

.hero {
  background-color: blueviolet;
  height: 60rem;

  grid-column: full-start / full-end;
}

.brands {
  background-color: chocolate;
  height: 10rem;

  grid-column: center-start / center-end;
}

.about-us {
  background-color: rgb(22, 223, 55);
  height: 50rem;

  grid-column: center-start / center-end;
}

.services {
  grid-column: center-start / center-end;
}

.projects {
  background-color: #FFF8F3;
  
  grid-column: full-start / full-end;
}

.ceo {
  grid-column: col-start 2 / col-end 11;
}

.testimonials {
  grid-column: full-start / full-end;
}

.contact {
  background-color: rgb(15, 143, 175);
  height: 40rem;

  grid-column: center-start / center-end;
}

.footer {
  grid-column: full-start / full-end;
}
