@import "../../common/sass/abstracts/mixins";

.nav {
  grid-column: full-start / full-end;
}

.hero {
  grid-column: full-start / full-end;
}

.brands {
  grid-column: full-start / full-end;
}

.about-us {
  grid-column: full-start / full-end;
}

.services {
  grid-column: center-start / center-end;
}

.projects {
  grid-column: full-start / full-end;
}

.ceo {
  grid-column: col-start 2 / col-end 11;
  @include respond(tab-land) {
    grid-column: center-start / center-end;
  }
}

.testimonials {
  grid-column: full-start / full-end;
}

.contact {
  grid-column: col-start 2 / col-end 11;

  @include respond(tab-land) {
    grid-column: center-start / center-end;
  }
}

.footer {
  grid-column: full-start / full-end;
}
