.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  // grid-template-rows: 10rem min-content min-content ;

  & > * {
    font-size: 4rem;
    width: 100%
  }
}

.nav {
  grid-column: center-start / center-end;
}

.hero {
  background-color: blueviolet;
  height: 60rem;

  grid-column: full-start / full-end;
}



