@import "../../common/sass/abstracts/mixins";

.testimonials {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) minmax(min-content, 120rem) minmax(
      6rem,
      1fr
    );

  background-color: #fff8f3;
  padding: 13rem 0;

  @include respond(tab-port) {
    padding: 6rem 0;
  }

  @include respond(phone) {
    padding: 3rem 0;
    grid-template-columns: 1rem minmax(min-content, 120rem) 1rem;
  }

  &__wrapper {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr minmax(min-content, 65rem) 1fr;
    row-gap: 2rem;
    justify-items: center;
  }

  &__heading {
    grid-column: 2;

    font-size: 4.4rem;
    font-weight: 600;
    line-height: 1.3;
    text-transform: capitalize;
    color: #000a1c;
    text-align: center;

    @include respond(tab-port) {
      font-size: 3rem;
    }

    @include respond(phone) {
      font-size: 2.2rem;
    }
  }

  &__text {
    grid-column: 2;

    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #595959;
    text-align: center;

    @include respond(tab-port) {
      font-size: 1.5rem;
    }

    @include respond(phone) {
      font-size: 1.4rem;
    }
  }

  &__list-container {
    grid-column: 1 / -1;
    width: 100%;
    justify-items: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    column-gap: 3rem;

    margin: 3.6rem 0 2rem 0;

    @include respond(tab-land) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      gap: 2rem;
    }

    @include respond(tab-port) {
      width: 75%;
      display: flex;
    }

    @include respond(phone) {
      width: 90%;
      column-gap: 1rem;
    }
  }
}

.testimonial {
  display: grid;
  row-gap: 2.4rem;

  background-color: #fefefe;
  border-radius: 1rem;
  border: 0.05rem solid #ddd;
  padding: 3.6rem;

  position: relative;
  overflow: hidden;

  @include respond(tab-land) {
    &:last-child {
      grid-column: 1 / -1;
      width: 50%;
    }
  }

  @include respond(tab-port) {
    flex: 0 0 100%;
    transition: translate 250ms ease-in-out;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: #ff8215;
    height: 13rem;
    width: 13rem;

    top: 0;
    left: 0;
    border-radius: 10rem;
    transform: translate(-50%, -50%);

    @include respond(phone) {
      height: 10rem;
      width: 10rem;
    }
  }

  &__quote {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.036rem;
    color: #727272;

    margin-top: 2.8rem;

    @include respond(phone) {
      font-size: 1.5rem;
    }
  }

  &__rating {
    display: flex;
    gap: 0.8rem;
  }

  &__client {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 0.8rem;
  }

  &__photo {
    height: 5.6rem;
    width: 5.6rem;
    object-fit: cover;
    border-radius: 0.4rem;
    grid-row: 1 / -1;

    @include respond(phone) {
      width: 4rem;
      height: 4rem;
    }
  }

  &__info-box {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  &__user-name {
    font-size: 2.2rem;
    font-weight: 500;
    color: #000a1c;

    @include respond(phone) {
      font-size: 1.8rem;
    }
  }

  &__role {
    font-size: 1.4rem;
    font-weight: 400;
    color: #727272;

    @include respond(phone) {
      font-size: 1.3rem;
    }
  }
}

.card-slider {
  grid-column: 2;
  gap: 2rem;
  text-align: center;
  display: none;
  font-weight: 300;

  @include respond(tab-port) {
    display: flex;
  }

  &__prev-btn,
  &__next-btn {
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 100%;
    cursor: pointer;
  }

  &__prev-btn {
    background-color: #e0e0e0;
    color: #000a1c;

    &:hover {
      background-color: #d1d0d0;
    }
  }

  &__next-btn {
    background-color: #ff8215;
    color: #e0e0e0;

    &:hover {
      background-color: #ff7700;
    }
  }
}
