.card-slider {
  grid-column: 2;

  display: flex;
  gap: 2rem;

  &__prev-btn {
    width: 5.4rem;
    height: 5.4rem;
    background-color: #E0E0E0;
    border-radius: 100%;
  }

  &__next-btn {
    width: 5.4rem;
    height: 5.4rem;
    background-color: #ff8215;
    border-radius: 100%;
  }
}