.hero {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 65vh;
  background-image: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../../../../common/imgs/project-1.png");

  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

  display: grid;
  grid-template-columns: minmax(6rem, 1fr) minmax(min-content, 120rem) minmax(
      6rem,
      1fr
    );

  /* May Need to Change */
  justify-items: end;
  align-content: center;

  & > * {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  &__wrapper {
    grid-column: 2;

    height: 100%;
    display: grid;
    width: 67rem;
    grid-template-rows: repeat(3, min-content);
    justify-items: start;
    row-gap: 2rem;
    padding: 4rem 0 4rem 5rem;

    position: relative;

    &::before {
      content: "";
      height: 100%;
      width: 50%;
      position: absolute;

      border-top: 8px solid #fff;
      border-bottom: 8px solid #fff;
      border-left: 8px solid #fff;
    }
  }

  &__heading {
    font-size: 6.4rem;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 7.3rem;
    color: #fafafa;
  }

  &__text {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.6rem;
    color: #fafafa;
  }

  &__btn {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.6rem 3.6rem;
    border: none;
    border-radius: 0.5rem;
    color: #fafafa;
    background-color: #ff8215;
  }
}
