@import "../../common/sass/abstracts/mixins";

.nav {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) minmax(min-content, 120rem) minmax(
      6rem,
      1fr
    );
  border-bottom: 0.05rem solid #dedede;

  @include respond(phone) {
    grid-template-columns: 1.5rem minmax(min-content, 120rem) 1.5rem;
  }

  &__wrapper {
    grid-column: 2;

    display: grid;
    padding: 3.2rem 0 2.4rem 0;
    position: relative;
    justify-content: space-between;
    grid-auto-flow: column;
  }

  &__logo {
    width: 100%;
    height: 6rem;

    @include respond(tab-port) {
      height: 5.2rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    align-items: center;
    justify-content: center;
    column-gap: 2.8rem;
    list-style: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: #000a1c;

    @include respond(tab-port) {
      position: absolute;
      grid-template-columns: 1fr;
      right: 0;
      bottom: 0;
      transform: translateY(100%);

      font-size: 1.4rem;
      border: 0.05rem solid #dedede;
      padding: 2rem;
      border-radius: .5rem;
      gap: 1.5rem;
      text-align: center;
      background-color: #ff8215;
      z-index: 20;
    }
  }

  &__btn {
    padding: 1.6rem 4rem;
    border: none;
    border-radius: 0.5rem;
    color: #fafafa;
    background-color: #ff8215;
    font-size: 1.6rem;
    font-weight: 500;
    align-self: center;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__mobile-btn {
    display: none;
    @include respond(tab-port) {
      display: inline-block;
    }
  }

  &__icon {
    width: 3rem;
    height: 2px;
    background-color: #000a1c;
    display: none;
    align-self: center;
    position: relative;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: #000a1c;

      @include respond(tab-port) {
        display: inline-block;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: -1rem;
    }

    &::after {
      top: 1rem;
    }
  }
}
